@import "style.scss";
@import "header.scss";
@import "mixins.scss";
@import "footer.scss";
.header_main {
    height: 58vh;
    background-position: center;
    background-size: cover;
    width: auto;
    position: relative;
    display: flex; 
    background: linear-gradient(rgba(179, 173, 173, 0), rgb(118, 118, 118)), url(..//img/bg_about.png);
    background-size: contain;

.header_padding {
    padding-left: 0;
}
.header_main_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    color: white; 
    margin: auto;
}
}

/*products*/
.offer-products
{
    height: 892px;
    width: 100%;
    position: relative;
    background-color: #274C5B;
}
.products.heading {
    padding-top: 188px;
    
 p {
    text-align: center;
    color: #7EB693;
    font-size: 36px;
    font-family: Yellowtail;
    padding-bottom: 33px;
}
 h2 {
    color: #FFF;
    font-size: 50px;
    font-family: Roboto;
    font-weight: 800;
    text-align: center;
}
}
.products_card
{
    display: flex;
align-items: center;
gap: 21px;
}
.card
{
    height: 314px;
    border-radius: 30px;
width: 334px;
background-color: #F0F0F0;
}
.card:first-child
{
    background: url(..//img/product_offer1.png) no-repeat;
    background-size: contain;
}

.card:nth-child(2)
{
    background: url(..//img/product_offer2.png) no-repeat,
    #F0F0F0;
    background-size: contain;
}
.card:nth-child(3)
{
    background: url(..//img/product_offer3.png) no-repeat;
    background-size: contain;
}