.footer_contacts
{
    display: flex;
width: 285px;
flex-direction: column;
align-items: flex-end;
gap: 32px;
}
.footer_about
{
display: flex;
width: 543px;
flex-direction: column;
align-items: center;
gap: 23px;
}
.footer_utilities
{
    display: flex;
width: 285px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}