@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

*, *::before, *::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

body {
  font-style: normal;
  font-family: 'Roboto';
  height: 100%;
  max-width: 1920px;
  min-width: 320px;
  width: 100%; }

.container {
  max-width: 1596px;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  padding: 0; }

@media all and (max-width: 1440px) {
  .container {
    width: 1197px; } }
@media all and (max-width: 1200px) {
  .container {
    width: 998px; } }
@media all and (max-width: 1024px) {
  .container {
    width: 852px; } }
@media all and (max-width: 768px) {
  .container {
    max-width: none; } }
.container_main {
  max-width: 1400px;
  margin: 0 auto;
  min-width: 320px; }

header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  transition: all 1s; }

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  padding: 69px 0; }

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer; }

.burger {
  width: 40px;
  height: 20px;
  position: relative;
  display: none; }

.menu_close {
  position: absolute;
  top: 5%;
  right: 15%;
  width: 26px;
  height: 26px;
  display: none; }

.menu_close-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--gray-700); }

@media all and (max-width: 1024px) {
  .header_inner {
    justify-content: space-around; } }
.header_logo {
  margin-right: 150px;
  flex: 0 0 199px;
  width: 199px;
  height: 53.7px; }

.header_logo img {
  max-width: 100%;
  display: block;
  height: auto; }

.header_menu {
  margin-right: 130px;
  flex: 0 0 auto; }

.header_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between; }

#menu {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  padding: 0; }

#menu:first-child {
  margin-left: 0; }

.header_menu_item {
  display: inline;
  margin-left: 18px; }

.header_menu_link {
  text-decoration: none;
  color: #274C5B;
  font-size: 20px;
  font-weight: 700;
  position: relative; }

.header_menu_link:hover,
.header_menu_link:active {
  text-decoration: underline;
  color: #6d9fb3; }

@media all and (max-width: 1024px) {
  .header_menu {
    position: absolute;
    top: 101%;
    left: 71%; }

  .nav_wrap {
    display: none;
    width: 200px;
    background-color: #FAFAFA;
    border: solid 3px #274C5B;
    border-radius: 30px;
    box-shadow: 15px 15px 20px rgba(96, 95, 95, 0.2);
    transition: all 0.5s; }

  .check:checked ~ .nav_wrap .header_menu {
    display: flex;
    z-index: 1; }

  .header_menu_item {
    width: 100px;
    position: absolute;
    right: 0;
    top: 100%; }

  .header_menu {
    width: 100%;
    height: calc(100vh - 75px);
    background-color: #FAFAFA;
    padding-bottom: 20px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }

  .header_menu_list {
    text-align: center; }

  .header_menu_item {
    width: 100%;
    padding: 5px 50px 3px 50px;
    position: relative;
    border-bottom: 1px solid black; } }
/* необходим для размещения выпадающего содержимого */
.header_menu_item.drop {
  position: relative;
  display: inline-block; }

/* Выпадающее содержимое (скрыто по умолчанию) */
.drop_add {
  display: none;
  position: absolute;
  background-color: #fefbfb;
  width: 300px;
  height: 160px;
  box-shadow: 0px 8px 16px 0px rgba(96, 95, 95, 0.2);
  z-index: 1; }

/* Ссылки внутри выпадающего списка */
.drop_add a {
  color: #68A47F;
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 0 20px 20px 20px; }

/* Изменение цвета выпадающих ссылок при наведении курсора */
.drop_add a:hover {
  background-color: #6da0b4;
  color: white; }

/* Показать выпадающее меню при наведении курсора */
.header_menu_item.drop:hover .drop_add {
  display: block; }

.search {
  position: relative; }

.fast-search_input {
  width: 376px;
  height: 66px;
  border-radius: 36px;
  background: #FAFAFA;
  margin-right: 18px;
  border: 0;
  padding: 5px 60px 1px 20px; }

/*@media all and (max-width: 1024px)
{
  .fast-search_input
  {width: 200px;
  height: 66px;
  border: 0;
}
}*/
.fast-search_input:focus {
  box-shadow: 0 0 10px #b2c8d0; }

.search_btn {
  background: transparent;
  position: absolute;
  top: 7%;
  right: 32%;
  border: none; }
  .search_btn i {
    padding: 5px 5px 6px; }

.icon_search::before {
  content: url(..//img/SearchIcon.svg); }

@media all and (max-width: 500px) {
  .fast-search_input {
    width: 100px; } }
.basket_btn {
  width: 159px;
  height: 66px;
  border-radius: 33px;
  border: 1px solid #E0E0E0;
  background: #FAFAFA;
  border: none; }

i.basket_header {
  position: absolute;
  top: 7%;
  left: 72%; }

.basket_header::before {
  content: url(..//img/CartIcon.svg); }

.basket_text {
  color: #274C5B;
  font-size: 18px;
  font-weight: 600;
  padding-left: 74px; }

#header_burger, #burger_close {
  display: none;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  background: transparent;
  position: absolute;
  user-select: none;
  display: none; }

@media all and (max-width: 1024px) {
  #header_burger.active, #burger_close.active {
    display: block; }

  #header_burger {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: absolute;
    top: 50%;
    right: 10px; }

  #open {
    display: block; }

  #menu {
    flex-direction: column;
    width: 100px;
    height: auto;
    background-color: burlywood;
    position: absolute;
    right: -100px;
    top: 50px;
    transform: translate(0, 0); }

  #menu.menu__mobile--visible {
    transform: translate(-100px, 0px); } }
.header_button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burger_line {
  display: block;
  width: 37px;
  height: 6px;
  background-color: #274C5B;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.burger_line:not(:last-child) {
  margin-bottom: 5px; }

.header_burger:hover .burger_line {
  background-color: #92c5d8; }

.block {
  width: 100%;
  height: 100px;
  background-color: #FFF; }

/*главный баннер после хедера*/
.banner {
  width: 100vw;
  position: relative; }

.banner_img {
  background: url(..//..//img/BackgroundPatterns.png) no-repeat, url(..//..//img/background1.jpg) no-repeat;
  width: 100%;
  height: 898px;
  background-size: 100% 100%;
  position: relative; }

.banner_text {
  padding-top: 247px;
  color: #68A47F;
  font-size: 36px;
  font-family: 'Yellowtail', cursive;
  margin-bottom: 23px; }

.banner_head {
  color: #274C5B;
  font-size: 70px;
  font-family: Roboto;
  font-weight: 800;
  margin-bottom: 23px; }

.banner_btn {
  width: 220px;
  height: 79px;
  display: flex;
  padding: 28px 39px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #EFD372;
  border: 0; }
  .banner_btn .banner_btn_text {
    color: #274C5B;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
    margin: 0;
    padding-right: 10px; }
  .banner_btn img {
    width: 19px;
    height: 19px; }

/*баннеры-рекламные*/
.offer_banner {
  width: 100vw;
  height: 711px; }

.offer_banner_wrap {
  padding-top: 154px;
  display: flex;
  align-items: center;
  gap: 36px; }

.offer_banner_space {
  width: 682px;
  height: 367px;
  border-radius: 30px;
  background-color: #E6E7E9; }

.offer_banner_space.first {
  background: url(..//..//img/offer1.jpg) lightgray 50%/cover no-repeat; }

.offer_banner_space.second {
  background: url(..//..//img/offer2.jpg) lightgray 50%/cover no-repeat; }

.space_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding-left: 55px;
  padding-top: 118px;
  margin: 0; }
  .space_text p {
    color: #FFF;
    font-size: 36px;
    font-family: Yellowtail; }
  .space_text h3 {
    color: #FFF;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 800; }

.offer_banner_space:hover {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  background-color: #E6E7E9;
  background: url(..//..//img/offer1.jpg) no-repeat;
  background-size: contain;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: transform 1s ease all; }

/*section about*/
.about_banner {
  width: 100vw;
  height: 1067px;
  position: relative;
  margin-top: 154px;
  background-color: #F9F8F8;
  margin-bottom: 176px; }

.about_banner_image {
  width: 911px;
  height: 867px;
  padding-top: 87px;
  padding-left: 100px;
  background: url(..//..//img/aboutban.jpg) lightgray 50%/cover no-repeat, #F9F8F8; }

.about_content {
  padding-left: 958px;
  display: flex;
  width: 702px;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px; }

.cards_head p {
  text-align: center;
  color: #7EB693;
  font-size: 36px;
  font-family: Yellowtail; }

.cards_head h2 {
  color: #274C5B;
  text-align: center;
  font-size: 50px;
  font-family: Roboto;
  font-weight: 800;
  margin-top: 8px;
  margin-bottom: 40px; }

#group_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-start;
  grid-gap: 20px; }

/*card bootstrap style*/
.card {
  height: 483px;
  border-radius: 30px;
  background: #F9F8F8;
  border: 0; }

.card-img-top {
  padding-top: 73px; }

.type {
  width: 72px;
  height: 20px;
  border-radius: 8px;
  background: #274C5B;
  margin: 29px 0 0 30px; }

.card_description {
  border-top: 1px solid #DEDDDD;
  margin-top: 13px; }

.testimonial_wrap {
  width: 100vw;
  height: 1267px;
  position: relative;
  margin-top: 200px;
  background: url(..//../img/testimon-left.jpg) top left no-repeat, url(..//../img/testimon-right.jpg) top right no-repeat, #FCFCFC;
  background-size: lightgray 50% / cover; }

.testimonial_content {
  display: flex;
  width: 1108px;
  flex-direction: column;
  align-items: center;
  gap: 102px;
  margin-top: 164px;
  margin-left: 181px; }

.counters {
  display: flex;
  width: 1030px;
  justify-content: center;
  align-items: flex-start;
  gap: 62px; }
  .counters .counter {
    width: 211px;
    height: 211px;
    border-radius: 211px;
    background: #7EB693;
    position: relative; }
    .counters .counter .circle {
      border-radius: 189px;
      background: #F1F1F1;
      position: absolute; }

.offer_products {
  width: 100vw;
  height: 1050px;
  position: relative;
  background: #274C5B; }

.weare_wrap {
  height: 931px;
  width: 100vw;
  background: url(..//..//img/landscape.jpg) no-repeat;
  position: relative; }

.weare_block {
  width: 358px;
  height: 723px;
  padding-top: 100px;
  position: absolute;
  background: #FFF;
  top: 100px;
  left: 871px; }

.weare_content {
  width: 700px;
  padding-top: 78px;
  padding-left: 89px;
  display: flex;
  width: 700px;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px; }

.weare_heading p {
  color: #7EB693;
  font-size: 36px;
  font-family: Yellowtail;
  margin-bottom: 8px; }

.weare_heading h3 {
  color: #274C5B;
  font-size: 50px;
  font-family: Roboto;
  font-weight: 800; }

.weare_points h1 {
  color: #274C5B;
  font-size: 25px;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 8px; }

.weare_points p {
  color: #525C60;
  font-size: 18px;
  font-family: Open Sans;
  line-height: 165.4%; }

.gallery_wrap {
  width: 100vw;
  height: 583px;
  position: relative;
  padding: 187px 0px;
  background: #F1F8F4; }

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 42px; }

.gel_image {
  height: 583px; }

.gel_image.first {
  background: url(..//..//img/juice.jpg) top left no-repeat;
  background-size: contain; }

.btn_gallery {
  width: 320px;
  height: 96px;
  border-radius: 20px;
  background: #FFF;
  border: 0;
  color: #274C5B;
  font-size: 25px;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 146px; }

.btn_gallery:hover {
  background: #D4D4D4; }

/*# sourceMappingURL=style.css.map */
