@import "header.scss";
@import "homepage.scss";
@import "footer.scss";

*, *::before, *::after 
    {
    box-sizing: border-box;
    }
    *
    {
        margin: 0;
        padding: 0;
    }

body
{
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto';
    font-size: 18px;
    max-width: 1920px;
}