@media all and (max-width: 1000px)
{
    .menu
    {
        width: 150px;
    }
    .main 
    {
        background: url(..//home\ 5/фон.PNG) repeat-y -70px 0;
    }
    .content
    {
        margin-left: 200px;
    }
    .header, .footer
    {
       font-size: 20px;
       padding: 10px;
    }
    .content img
    {
        width: 200px;
    }
    h1
    {
        font-size: x-large;    
    }
}