        body
        {
            font-family: Arial, Helvetica, sans-serif;
        } 
        div
        {
            background-color: transparent;
        }
        .main 
        {
            background: url('..//home 5/фон.PNG') repeat-y -50px 0;
        }
        .menu
        {
            width: 200px;
            float: left;
            padding: 10px;
        }
        .content
        {
            margin-left: 220px;
            background: url('..//home 5/football.png') repeat-y bottom right; 
            padding: 10px 20px 20px 20px;
        }
        .content img
        {
            width: 300px;
            padding: 10px; 
            float: left;
        }
        .header, .footer
        {
            background-color:  rgb(113, 191, 227);
            width: 100%;
            text-align: center;
            font-size: 26px;
            padding: 20px;
            color:blue;
        }
        h1
        {
            text-align: center;
        }
