*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h3
{
    margin-bottom: 10px;
}
.wrap
{
    overflow: auto;
    height: 380px;
    width: fit-content;
}
a
{
    margin-bottom: 15px;
    display: block;
}