*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
    background-image: url(images/main_image.png);
}
.main_menu
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 100px 0 200px;
}
.main_menu:first-child
{
    margin-right: 195px;;
}
.leftcolumn
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    height: 100vh;
    border-right: 1px solid #FFFFFF;
    z-index: 1;

    
}
.logo
{
    display: flex;
    align-items: center;
    padding-top: 32px;
}
ul
{
    list-style: none;
}
ul li
{
    display: inline;
}
