@import "blocks/header.scss";
@import "blocks/content.scss";
@import "blocks/footer.scss";
@import "mixins.scss";
body {
    @include font;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


