@import "mixins.scss";
.btn {
    @include btn;
}

header
{
    height: 100vh;
    background: url(..//..//images/main_image.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.container
{
    width: 1620px;
    padding: 0 100px 0 200px;
    margin: 0 auto;
}

    .header_menu
    {
        display: flex;
        display: -webkit-box;
	    display: -ms-flexbox;
        justify-content: space-between;
        -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
        align-items: center;
        -webkit-box-align: center;
	    -ms-flex-align: center;
        padding-top: 33px;

        .header_logo
        {
            display: flex;
            display: -webkit-box;
	        display: -ms-flexbox;
            align-items: center;
            -webkit-box-align: center;
	        -ms-flex-align: center;
            margin-right: 179px;

            $wght: 700;
            & p:first-child
            {
                @include font ($wght);
                color: #FFFFFF;
                font-size: 37px;
                line-height: 170%;
                margin-right: 12px;
            
            & p:last-child
            {
                @include font;
                font-size: 14px;
                color: #FFFFFF;
                line-height: 115%;
                letter-spacing: 0.06em;
            }
        }
        } 
    }

menu
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    height: 100vh;
    border-right: 1px solid #FFFFFF;
    z-index: 1;
     
       img
       {
           position: absolute;
           top: 37px;
           left: 36px;
       }
}

$wght: 700;
.header_title
{
    margin: 295px 0 56px 0;
    @include font ($wght);
    font-size: 64px;
    line-height: 115%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.header_languages
{
    display: flex;
    display: -webkit-box;
	display: -ms-flexbox;
    align-items: center;
    -webkit-box-align: center;
	-ms-flex-align: center;
    margin-right: 80px;

    $wght: 700;
    & li
    {
        display: inline;
        margin-left: 16px;
        color: #FFFFFF;
        @include font ($wght);
        text-decoration: none;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.02em;
    }
}

.header_tel h6
{
    font-size: 16px;
    line-height: 155%;
    letter-spacing: .02em;
    color: #fff;
}

.header_text
{
    padding-top: 23px;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

button svg
{
    position: absolute;
    right: 25px;
    top: 23px;
}
