
    *, *::before, *::after 
    {
    box-sizing: border-box;
    }
    *
    {
        margin: 0;
        padding: 0;
    }
        #header
        {
            width: 100%;
            height: 38px;
            background-color: #313131;
            margin-bottom: 20px;
        }
        .container
        {
            max-width: 1400px;
            margin: 0 auto;
            padding: 0 120px 0 140px;
            position: relative;
        }
        .nav
        {
            margin-top: 10px;
            margin-bottom: 12px;
            float: left;
        }
        .nav ul > li
        {
            font: normal 400px 14px/16px 'Roboto', sans-serif;
            color: white;
            padding-right: 30px;
            display: inline;
            list-style: none;
            vertical-align: bottom;
        }
        .connect
        {
            float: right;
            margin: 10px 0 12px 0;
            position: relative;
            vertical-align: bottom;
        } 
        .connect a  
        {
            color: #FFFFFF;
            text-decoration: none;
            font: normal 400px 14px/16px 'Roboto', sans-serif;
            padding-right: 30px;
        }
        .connect img 
        {
            vertical-align: middle;
            margin-right: 10px;
        }
        .connect span
        {
            color: #FFFFFF;
            font: normal 400px 14px/16px 'Roboto', sans-serif;
        }
        .main_service
        {
            height: 50px;
            position: relative;
        }
        div.logo
        {
            float: left;
            margin-top: 12px;
        }
        div.icons
        {
            float: right;
            margin-top: 16px;
        }
        .icons img:nth-child(-n+2)
        {
            padding-right: 30px;
        }
        .fast-search__input
        {
            background-image: url(search-icon.png);
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 15px 50%;
            background-size: 16px 16px;
            padding-left: 49px;
            padding-right: 628.4px;
            height: 50px;
            margin: 0 37px 20px 38.04px;
            border: 1px solid #E6E6E6;
            font: normal 14px/16px 'Roboto', sans-serif;
            color: #414141;
            position: absolute;
        }
        .main_block_items
        { 
            margin: 20px 0 30px 0;
            height: 70px;
            background-color: #FFFFFF;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
        }
        .main_block_items ul
        {
            padding-left: 40px;
            padding-top: 25px;
        }
        .main_block_items ul > li
        {
            display: inline;
            font: normal 16px/19px 'Roboto', sans-serif;
            color: #414141;
            padding-right: 50px;
        
        }
        .main_block_items ul > li:nth-child(1)::before
        {
            content: url(kitchen-icon.png);
            vertical-align: middle;
            padding-right: 10px;
        }
        .main_block_items ul > li:nth-child(2)::before
        {
            content: url(bedroom-icon.png);
            vertical-align: middle;
            padding-right: 10px;
        }
        .main_block_items ul > li:nth-child(3)::before
        {
            content: url(livingroom-icon.png);
            vertical-align: middle;
            padding-right: 10px;
        }
        .main_block_items ul > li:nth-child(4)::before
        {
            content: url(closet-icon.png);
            vertical-align: middle;
            padding-right: 10px;
        }
        .main_block_items ul > li:nth-child(5)::before
        {
            content: url(office-icon.png);
            vertical-align: middle;
            padding-right: 10px;
        }
        .main_block_items ul > li:nth-child(6)::before
        {
            content: url(childrensroom-icon.png);
            vertical-align: middle;
            padding-right: 10px;
        }
        .main_block_items ul > li:nth-child(7)
        {
            padding-right: 47px;
            color: #D74444;
        }
        .main_block_items ul img
        {
            vertical-align: middle;
        }
        .banner
        {
            background: url(1785\ 1.png) no-repeat center center;
            position: relative;
        }
        .banner h1
        {
            font: normal 50px/52.65px 'Playfair Display', serif;
            color: #3C3C3C;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            padding: 100px 0 20px 120px;
            margin: 0;
        }
        .banner p
        {
            font: normal 16px/22.53px 'Roboto Condensed';
            letter-spacing: 0.02em;
            color: #343434;
            padding-left: 121px;

        }
        .button_catalog 
        {
            border: none;
            background-color: #FFFFFF;
            width: 163px;
            height: 45px;
            text-transform: uppercase;
            margin: 20px 0 141px 121px;
            font: normal 12px/16.9px 'Roboto Condensed';
            letter-spacing: 0.04em;
            color: #414141;
        }
        .button_catalog:hover
        {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
        }
        .main_block h6
        {
            margin: 0;
            padding-top: 30px;

        }
        div.items_cards
        {
            margin-top: 35px;
            margin-right: 30px;
            height: 361px;
            width: 263px;
            float: left;
        }
        div.items_cards:nth-of-type(n+4)
        {
            margin-right: 0;
        }
        .items_cards img[src^="wishlist"]
        {
            margin: 21px 15.5px 0 0;
            float: right;
        }
        .items_cards img[src$=".jpg"]
        {
            padding: 38px 31px 54px 32px;
        }
       
        p.name
        {
            padding-left: 20px;
            padding-bottom: 9px;
            font: normal 500px 14px/18.75px 'Roboto', sans-serif;
        }
        p.type
        {
            padding-left: 20px;
            padding-bottom: 6px;
            font: normal 400px 11px/13px 'Roboto', sans-serif;
        }
        #footer
        {
            height: 234px;
            width: 100%;
            background: #FFFFFF;
            box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);
        }
        .nav_bottom
        {
            float: left;
            margin: 54px 0 32px 0;
        }
        .nav_bottom h4
        {
            text-transform: uppercase;
            font: normal 500px 14px/17.74px 'Roboto', sans-serif;
            color: #000000;
            padding-bottom: 10px;
        }
        ul.column1
        {
            margin-right: 50px;
        }
        ul.column1 > li
        {
            padding-bottom: 7px;
            font: normal 14px/17.74px 'Roboto', sans-serif;
        }

        .clearfix::after 
        {
            content: "";
            display: block;
            clear: both;
        }